* {
  margin: 0%;
  font-family: "Poppins", serif;
}
#img {
  float: left;
  height: 10vh;
  width: auto;
  margin-left: 5px;
}
#image {
  float: right;
  height: 10vh;
  width: auto;
  /* margin-left: 5px; */
}
#header {
  background-color: #f7f8fc;
  height: 10vh;
  width: 100%;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  position: fixed;
  box-shadow: 1 4px 10px 1 #9d9d9d33;
  z-index: 100%;
  text-align: center;
}
.space:hover {
  color: orangered;
  display: inline-block;
  transform: scale(1.2);
  transition: transform 0.3s;
  overflow: hidden;
  font-family: "Oswald", serif;
}
/* #effect2:hover {
  display: inline-block;
  transform: scale(1.2);
  transition: transform 0.3s;
  overflow: hidden;
}
#effect1:hover {
  display: inline-block;
  transform: scale(1.2);
  transition: transform 0.3s;
  overflow: hidden;
}
#effect3:hover {
  display: inline-block;
  transform: scale(1.2);
  transition: transform 0.3s;
  overflow: hidden;
} */
.space {
  /* padding-top: 3px; */
  /* margin: 2px; */
  margin-left: 10%;
  text-decoration: none;
}
nav {
  padding-top: 6vh;
}
main {
  padding-top: 15vh;
  background-color: rgb(255, 162, 1);
}
h1 {
  position: absolute;

  padding-left: 10vw;
  padding-top: 10px;
  color: #2b72d5;
}
